<h3>MemLab herramientas</h3>
<ul>
	<li><%= link_to "Redimensionar imágenes (para galerías)", new_upload_path %></li>
	<li><%= link_to "Optimizar imágenes (para banners)", new_optimize_path %></li>
	<li><%= link_to "Combinar imágenes (para marcas de agua)", new_watermark_path %></li>
	<!--<li><%#= link_to "Modificar imágenes (customizado)", new_image_action_path %></li>-->
</ul>